main{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #654321;
    font-size: 2rem;
}
main>img{
    max-width: 100%;
}
header{
    background-color: #A8A676;
    margin: 0;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr;
}
header>a>img{
    max-width: 10rem;
    width: 100%;
}
.logo{
    grid-area: 1/1/3/2;
    margin-bottom: -4px;
}
main{ 
    margin: 0 3rem 3rem 3rem; 
}
body{
    background-color: #FFFEE9; 
}
nav>a{
    font-family: 'Raleway', sans-serif;
    padding: .6rem;
    font-size: 120%;
}
.macrame img{
    max-width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
nav{
    padding-top: 1rem;
    grid-area: 1/2/2/4;
    display: flex;
    justify-content: space-around;
}
header>a{
    flex: 1;
}
.intro{
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}
.pots img{
    max-width: 100%;
}
.wax-stamps img{
    max-width: 100%;
}
.blankets img{
    max-width: 100%;
}
.shopping-cart img{
    max-width: 100%;
}
.items{
   background-color: #A8A676;
}
.macrame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.macrame>div{
    width: 48%;
}
.search{
    justify-self: center;
    justify-content: space-around;
}
.shoppingcart{
    font-family: 'Raleway', sans-serif;
}
.pots>div{
    width: 48%;
}  
.pots{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 
.blankets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blankets>div{
    width: 48%;
}
@media screen (min-width:1000px){
    .macrame div{
        grid-area: 1/1/2/5;
        display: flex;
        width: 24%;
    }
}