main{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #654321;
    font-size: 2rem;
}
main>img{
    max-width: 100%;
}
header{
    background-color: #A8A676;
    margin: 0;
    display: grid;
    grid-template-columns: 10rem 1fr 1fr;
}
header>a>img{
    max-width: 10rem;
    width: 100%;
}
.logo{
    grid-area: 1/1/3/2;
    margin-bottom: -4px;
}
main{ 
    margin: 0 3rem 3rem 3rem; 
}
body{
    background-color: #FFFEE9; 
}
nav>a{
    font-family: 'Raleway', sans-serif;
    padding: .6rem;
    font-size: 120%;
}
.shoppingcart{
    font-size: 115%;
}
.macrame img{
    max-width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
nav{
    padding-top: 1rem;
    grid-area: 1/2/2/4;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
header>a{
    flex: 1;
}
.intro{
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}
.pots img{
    max-width: 100%;
}
.wax-stamps img{
    max-width: 100%;
    width: 75%;
}
.blankets img{
    max-width: 100%;
}
.shopping-cart img{
    max-width: 100%;
}
.items{
   background-color: #A8A676;
}
.macrame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.macrame>div{
    width: 48%;
}
.search{
    justify-self: center;
    justify-content: space-around;
}
.shoppingcart{
    font-family: 'Raleway', sans-serif;
}
.pots>div{
    width: 48%;
}  
.pots{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 
.blankets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blankets>div{
    width: 48%;
    font-size: 1.25rem;
}
.blankets>p{
    font-size: 1.5rem;
}
input[type=search]{
    padding: .75rem .25rem;
}
.order-summary{
    background-color: #A8A676;
    padding: 1rem;
    margin: 1rem 0;
}
.order-summary>h3{
    margin: 0;
}
.promo-codes{
    background-color: #A8A676;
    padding-top: 1rem;
}
.promo-codes>h3{
    margin: 0;
}
button{
    padding: 1rem 5rem;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
input[type=code]{
    padding: 1rem;
    display: inline-block;
    margin-bottom: 1rem;
    width: calc(100% - 4rem);
}
.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    margin-bottom: 1rem;
}
.items>img{
    grid-area: 1/1/3/2;
}
.items>p{
    text-align: right;
    grid-area: 2/2/3/3;
    align-self: flex-end;
    margin: 0;
}
.items>div>h3{
    font-size: 1.5rem;
}
.items>div>p{
    font-size: 1.5rem;
}
.intro{
    font-size: 1.5rem;
}
.home-page>h2{
    font-size: 2rem;
}
.home-page p{
    font-size: 1.5rem;
}.macrame>div>p{
    font-size: 1.5rem;
}
.macrame>p{
    font-size: 1.5rem;
}
.wax-stamps>p{
    font-size: 1.5rem;
}
.wax-stamps>div>p{
    font-size: 1.5rem;
}
.pots>div>p{
    font-size: 1.5rem;
}
.pots>p{
    font-size: 1.5rem;
}
@media (min-width:1000px){
    .macrame>div{
        width: 24%;
    }
    .macrame{
        align-items: center;
    }
    .items>div>h3{
        font-size: 2.5rem;
    }
    .items>div>p{
        font-size: 2.5rem;
    }
    .items>p{
        font-size: 2.5rem;
    }
    .pots>div{
        width:24%;
        display: inline-block;
        flex-wrap: wrap;
    }
    .blankets>div{
        width: 24%;
    }
    .intro{
        padding-left: 3rem;
        padding-right: 3rem;
    }
   .home-page>p{
       padding-left: 4rem;
       padding-right: 4rem;
   }
   .pots>p{
       padding-left: 2rem;
       font-size: 2rem;
   }
   .wax-stamps>div>img{
       width: 50%;
   }
   .wax-stamps>p{
       padding-left: 8rem;
       padding-right: 8rem;
       font-size: 2rem;
   }
   .macrame>p{
       font-size: 2rem;
       padding-left: 5rem;
   }
   .blankets>p{
       font-size: 2rem;
   }
}